@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 2px solid pink;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --mainBlue: "#445D96";
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-watcher {
  z-index: 10000;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 40s;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"]:hover .scroller__inner {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list li {
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.container {
  overflow: hidden;
  width: 200px; /* Adjust this width based on your need */
  height: 50px; /* Adjust this height based on your need */
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;
}

.footerScroller:first-child {
  display: inline-block;
  padding: 0 10px;
  opacity: 0;
  animation: appearPauseScroll 6s linear infinite;
}

.footerScroller:nth-child(2) {
  display: inline-block;
  padding: 0 10px;
  opacity: 0;
  animation: appearPauseScroll 6s linear infinite;
}

@keyframes appearPauseScroll {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.introBody__img {
  width: 25%;
  height: auto;
}

.header__options {
  width: 3em;
  height: 0.5rem;
  background-color: aliceblue;
}

/* .header__options_div {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5vw 5vw 0vw 5vw;
} */

@media only screen and (max-width: 767px) {
  .introBody__img {
    width: 55%;
    height: auto;
  }
}
